@font-face {
    src: url("../font/NotoSans/NotoSans-Regular.ttf") format('truetype');
    src: url("../font/NotoSans/NotoSans-Bold.ttf") format('truetype');
    font-family: 'Noto Sans';
}

@font-face {
    src: url("../font/Vcr_Osd_Mono_1.001.ttf") format('truetype');
    font-family: 'VCR OSD Mono';
}

@font-face {
    src: url("../font/bebas/Bebas-Regular.ttf") format('truetype');
    font-family: 'Bebas';
}

#section01{
    width: 100vw;
    position: relative;
    background-color: #bf3e2d;
}

/* #section01 .main_image{
    width: 1920px;
    height: 270px;
    z-index:999;
} */

#section01 .nintendo_switch_main img{
    width: 1075px;
    height: 459px;
    position: absolute;
    left: 423px;
    top: 248px;
}

#section02{
    background: white;
}

#section02 .title{
    width: 736px;
    height: 169px;
    /* background-color: blue;  */
    position: absolute;
    top: 133px;
    left: 260px;
}

#section02 .title .project_type{
    font-family: 'NotoSans-Bold';
    font-size: 18px;
    width: 129px;
    height: 14px;
    /* background-color: blue; */
}

#section02 .title .project_name{
    font-family: 'VCR OSD Mono';
    width: 736px;
    height: 113px;
    font-size: 59px;
    line-height: 70px;
    /* background-color: red; */
    position: absolute;
    bottom: 0;
}

#section02 .right{
    width: 526px;
    height: 620px;
    position:absolute;
    right: 260px;
    top: 97px;
    font-size: 17px;
    font-family: 'NotoSans';
    /* background-color: blue; */
}

#section02 .right .gray_line_shape{
    width: 533px;
    height: 1px;
    background-color: #cbcbcb;
    margin-bottom: 12px;
    margin-top: 32px;
}

#section02 .right .roles_category{
    width: 101px;
    /* height: 87px; */
    /* background-color: blue; */
}

#section02 .right .roles_category > div{
    font-family: 'NotoSans';
    font-size: 17px;
}

#section02 .right .roles_category .roles{
    margin-bottom: 22px;
    color: #626262;
}

#section02 .right .roles_category .branding{
    margin-bottom: 13px;
}

#section02 .right .tools_category{
    width: 87px;
    /* height: 186px; */
    /* background-color: blue; */
}

#section02 .right .tools_category .tools{
    margin-bottom: 28px;
    color: #626262
}

#section02 .right .tools_category .photoshop, .illustrator, .html, .css, .jquery{
    margin-bottom: 13px;
}

#section02 .right .date_category{
    width: 113px;
    height: 64px;
    /* background-color: blue; */
}

#section02 .right .date_category .date{
    margin-bottom: 28px;
    color: #626262
}

#section02 .right .date_category .actual_date{
    width: 160px;
}

#section02 .right .description_category{
    width: 521px;
    height: 192px;
}

#section02 .right .description_category .description{
    margin-bottom: 28px;
    color: #626262;
}

#section02 .right .description_category .description_text{
    line-height: 21px;
}

#section03{
    width: 1920px;
    height: 2914px;
    background-color: #bf3e2d;
}

#section03 .main_screen{
    width: 1301.4px;
    height: 655.67px;
    /* position: absolute; */
    /* transform: translate(-50%,-50%);
    margin-top: 149px; */
    background-color: #cf2f1e;
    position: absolute;
    top: 149px;
    left: 260px;
    border: 44px solid white;
    border-radius: 30px;
}

#section03 .overtext{
    /* width: 2007px;
    height: 702px; */
    /* font-family: 'Bebas';
    font-size: 310pt;
    color: #b0281a; */
    position: absolute;
    top: 195px;
}
    /* background-color: blue;
}

/* #section03 .overtext .first_line{
    position: absolute;
    top: -90px;
    right: 526px;
}

#section03 .overtext .second_line{
    position: absolute;
    left: 901px;
    bottom: -31px;
} */ 

#section03 .main_screen .luigi{
    position: absolute;
    left: 107px;
    z-index: 999;
}

#section03 .main_screen .mario{
    position: absolute;
    right: 72px;
    top: 153px;
    z-index: 999;
}

#section03 .main_screen .goomba{
    position: absolute;
    bottom: 59px;
    left: 349px;
    z-index: 999;
}

#section03 .main_screen .switch{
    position: absolute;
    left: 345px;
    bottom: 182px;
    z-index: 998;
}

#section03 .main_screen .logo{
    position: absolute;
    top: 43px;
    left: 42px;
    z-index: 999;
}

#section03 .main_screen .switch_logo{
    position: absolute;
    top: 246px;
    left: 580px;
    z-index: 999;
}

#section03 .main_screen .mystery_box{
    position: absolute;
    right: 42px;
    top: 43px;
}

#section03 .main_screen .scroll_down{
    width: 71px;
    height: 52px;
    position: absolute;
    left: 616px;
    bottom: 118px;
    z-index: 999;
}

#section03 .main_screen .scroll_down .gray_circle{
    position: absolute;
    bottom: 25px;
    left: 19px;
    z-index: 999;
}

#section03 .main_screen .scroll_down .arrow{
    position: absolute;
    bottom: 28px;
    left: 30px;
    z-index: 999;
}

#section03 .main_screen .scroll_down .down_text{
    position: absolute;
    left: 0;
    bottom: 0;
}

#section03 .mega_menu img{
    position: absolute;
    top: 1048px;
    left: 283px;
    border: 24px solid white;
    border-radius: 28px;
    width: 868px;
    height: 443px;
}

#section03 .mega_menu_hover img{
    position: absolute;
    top: 1677px;
    right: 288px;
    border: 24px solid white;
    border-radius: 28px;
    width: 868px;
    height: 443px;
}

#section03 .gray{
    position: absolute;
    bottom: 0;
    width: 1920px;
    height: 276px;
    background-color: #202020;
}

#section03 .about00 img{
    position: absolute;
    bottom: 0;
    right: 265px;
    width: 1081px;
    height: 552px;
}

#section04{
    width: 1920px;
    height: 2502px;
    background-color: #202020;
}

#section04 .about01 img{
    position: absolute;
    top: 74px;
    right: 265px;
    width: 1081px;
    height: 552px;
}

#section04 .about_donkey_kong{
    position: absolute;
    left: -25px;
    top: 257px;
    z-index:999;
}

#section04 .about02 img{
    position: absolute;
    top: 720px;
    left: 260px;
    width: 1081px;
    height: 552px;
}

#section04 .about03 img{
    position: absolute;
    left: 260px;
    bottom: 611px;
    z-index: 999;
    width: 1081px;
    height: 552px;
}

#section04 .modes img{
    position: absolute;
    left: 260px;
    bottom: 0;
    z-index: 999;
    width: 1081px;
    height: 552px;
}

#section04 .white{
    position: absolute;
    bottom: 0;
    width: 1920px;
    height: 276px;
    background-color: white;
}

#section05{
    width: 1920px;
    height: 1428px;
    background-color: white;
}

#section05 .mario_kart_image{
    position: absolute; 
    bottom: 0;
    left: 54px;
    z-index: 999;
}

#section05 .modes_accordion img{
    position: absolute;
    left: 260px;
    top: 185px;
    width: 1667px;
    height: 824px;
}

#section05 .red{
    width: 1920px;
    height: 146px;
    background-color: #bf3e2d;
    position: absolute;
    bottom: 0;
}

#section06{
    width: 1920px;
    height: 1056px;
    background-color: #bf3e2d;
}

#section06 .characters_mario img{
    position: absolute;
    top: 152px;
    left: 260px;
    width: 1400px;
    height: 720px;
}

#section07{
    background-color: #fff;
    width: 1920px;
    height: 1330px;
}

#section07 .characters .rectangle1{
    width: 960px;
    height: 665px;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #54cc21;
}

#section07 .characters .rectangle1 .characters_luigi img{
    position: absolute;
    right: 152px;
    top: 152px;
    width: 646px;
    height: 331px;
}

#section07 .characters .rectangle2{
    width: 960px;
    height: 665px;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #e74079;
}

#section07 .characters .rectangle2 .characters_peach img{
    position: absolute;
    right: 152px;
    top: 152px;
    width: 646px;
    height: 331px;
}

#section07 .characters .rectangle3{
    width: 960px;
    height: 665px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #dcab40;
}

#section07 .characters .rectangle3 .characters_bowser img{
    position: absolute;
    right: 152px;
    top: 152px;
    width: 646px;
    height: 331px;
}

#section07 .characters .rectangle4{
    width: 960px;
    height: 665px;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #a85330;
}

#section07 .characters .rectangle4 .characters_kong img{
    position: absolute;
    right: 152px;
    top: 152px;
    width: 646px;
    height: 331px;
}

#section08{
    width: 1920px;
    height: 1409px;
    background-color: #202020;
}

#section08 .games img{
    position: absolute;
    top: 288px;
    left: 130px;
    width: 1650px;
    height: 705px;
}

#section09{
    width: 1920px;
    height: 980px;
}

#section10{
    width: 1920px;
    height: 1132px;
    background-color: #202020;
}

#section10 .luigi_block{
    position: absolute;
    left: 120px;
    top: 183px;
    z-index: 999;
}

#section10 .buy_detail img{
    position: absolute;
    bottom: 237px;
    left: 260px;
    width: 1396px;
    height: 752px;
}